# Ignorar a pasta do ambiente virtual
venv/
.venv/


# Ignorar arquivos temporários e de cache
__pycache__/
*.pyc

# Ignorar arquivos específicos do VS Code
.vscode/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de gerados primeiramente em csv
*.csv